/*
Light Grey: #e6e7e8;
Dark Navy: #182d39; 
*/


h1, h3, p, .footer > a 
{
    text-decoration: none;
    color: #e6e7e8;
    font-family: monospace;
}

h2 > a
{
    color: #5fc9e5;
    text-decoration: none;
}

#refreshBtn
{
    display: inline;
    height: 20px; 
    width: 35px;
    margin: 20px 20px 20px -20px;
    float: right;
}

#badgesTitle
{
    display: inline;
    margin: 30px 0px 0px 35px;
}

#badgeContainer
{
    width: 140px;
    height: 200px;
}

#banner
{
    height: 75px;
    width: inherit;
    background-color: #182d39;
    margin: 0px;
}

#container
{
    margin: 10% 25% 15% 40%;
    height: 480px;
    width: 320px;
    border: 1px black solid;
    background-color: #e6e7e8;
    position: fixed;
}

body
{
    background-color: #414149;
}

div > .footer
{
    text-decoration: none;
    text-decoration-color: #e6e7e8;
    position:absolute;
    bottom: 0px;
    width: inherit;
    height: 50px;
    background-color: #182d39;
    margin: 0px 0px;
}

a
{
    text-decoration: none;
}

html
{
    padding: 0px;
    
}